{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="overlaaay"></div>
    <div class="position-center-center">
      <div class="container">
        <h4 style="font-size: 50px;"> PRODUCTS</h4>
        <ol class="breadcrumb">
          <li><a href="{% url 'core:home' %}">Home</a></li>
          <li class="active">Products</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Products -->
    <section class="shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row"> 
          
          <!-- Item Content -->
          <div class="col-sm-9">
            <div class="item-display">
              <div class="row"> 
                <!-- Products Select -->
                <div class="col-xs-6">
                  <div class="pull-left"> 
                    
                    <!-- Short By -->
                    <!-- <select class="selectpicker">
                      <option>Short By</option>
                      <option>Short By</option>
                      <option>Short By</option>
                    </select>
                    
                    <select class="selectpicker">
                      <option>Filter By</option>
                      <option>Short By</option>
                      <option>Short By</option>
                    </select> -->
                    
                    <!-- GRID & LIST --> 
                    <a href="#." class="grid-style"><i class="icon-grid"></i></a> <a href="#." class="list-style"><i class="icon-list"></i></a> </div>
                </div>
                <div class="col-xs-6 text-right"> <span class="product-num">Showing 1 - 10 of 30 products</span> </div>
              </div>
            </div>
            
            <!-- Popular Item Slide -->
            <div class="papular-block row single-img-demos" id="products"> 
           
            </div>
            <!-- Pagination -->
            <ul class="pagination in-center" id="pagination">
           
            </ul>
          </div>
          
          <!-- Shop SideBar -->
          <div class="col-sm-3">
            <div class="shop-sidebar"> 
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">FILTER BY CATEGORY</h5>
              <ul class="shop-cate" id="categories">
              
              </ul>

              
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY COLORS</h5>
              <ul class="colors" id="colors">
               
             
              </ul>
              
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY TAGS</h5>
              <ul class="shop-tags" id="tags">
               
           
              </ul>
              
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY BRANDS</h5>
              <ul class="shop-cate" id="brands">
                
                
              </ul>
           

              <button id="clear" class="btn" id="btn_submit" >CLEAR ALL FILTERS</button>
              
              <!-- SIDE BACR BANER -->
             
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>about PAVSHOP</h4>
          <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
            eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    
 {% endblock %}

 {% block js%}
 <script src="{% static 'js/products.js' %}"></script>
 {% endblock%}